python-telegram-bot==22.6
fastapi==0.135.1
uvicorn[standard]==0.41.0
yt-dlp[default]==2026.8.19
yt-dlp-ejs==0.8.0
bgutil-ytdlp-pot-provider==2.0.0
curl_cffi==0.16.3
python-dotenv==1.2.2
cachetools==7.0.1
gallery-dl==1.32.12
redis==8.1.0
msgspec==0.21.1
instaloader==4.15.3
